* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 150px;
}

.logo-section {
    text-align: center;
    margin-bottom: 20px;
}

.logo-section img {
    width: 700px;
    height: 100px;
}

.login-box {
    background-image: url(https://img.freepik.com/free-photo/elevated-view-white-flower-petals-pink-background_23-2147893910.jpg?w=1060&t=st=1729248423~exp=1729249023~hmac=1f99bdaf67f9246ac5eb6768882442fe951a87263f699bb0b93e9b9746a24297);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.header {
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
    font-family: 'Georgia';
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.password-group {
    position: relative;
}

.password-group .toggle-password {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 36px;
    transition: color 0.2s ease;
}

.password-group .toggle-password:hover {
    color: #ff6347;
}

.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-56:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.switch-link {
color: rgb(0, 0, 0);
}

footer {
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    padding: 2em 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #03153c;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

.dark {
    background-color: #252526;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: #fff;
}


